
hr{
	border-top: 2px solid #ddd;
	margin-bottom: 10px;
	margin-top: 10px;
}
.zero{
	margin-bottom: 0
}

.head_color{
	padding-top: 15px;
	padding-bottom: 15px; 
	background: #96b97d;
	font: bold 14px/30px Georgia, serif;
	color: white;
}
.body_color{
	background: #fff;
}

.list_color{
	background: #96b97d;
}